<hr class="big-hr" />
<footer class="text-center text-muted-foreground-light mx-4">
  <h2 class="text-3xl font-bold pt-4">Get in touch</h2>
  <section class="text-center text-xl py-6">
    <div class="flex justify-center gap-8 social-links">
      {% for link in links %}
        <a
          aria-label="{{ link.name }}"
          href="{{ link.url }}"
          rel="me"
          target="_blank"
          class="inline-flex w-8 h-6 justify-center gap-2 rounded-full highlight text-muted-foreground-light icon-{{ link.name | lower }}"
        >
          {% if link.icon %}{{ link.icon | safe }}{% endif %}
        </a>
      {% endfor %}
    </div>
  </section>
  <section class="copyright text-center text-sm py-4">
    <p>&copy; {% year %} Dustin Younse. All rights reserved.</p>
    <p>{{ dictionary.footer.builtWith | safe }}</p>
  </section>
</footer>
