<header>
  <nav class="pt-4" x-data>
    <div class="container prose flex justify-between items-baseline">
      <a class="font-mg-heavy-italic text-4xl no-underline" href="/"
        >Dustin Younse</a
      >
      <div class="hidden md:flex items-center gap-8">
        {% for item in navigation %}
          <a
            href="{{ item.route }}"
            class="no-underline hover:underline focus:underline
            {% if page.url == item.route %}
              font-black
            {% else %}
              font-medium
            {% endif %}"
          >
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
      <button
        class="md:hidden"
        @click="$store.nav.toggle()"
        title="Toggle navigation"
        type="button"
      >
        <svg
          x-show="!$store.nav.isOpen"
          x-collapse
          class="h-6 w-6"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          data-pattern-svg=""
        >
          <defs>
            <pattern
              id="pattern-18"
              patternUnits="userSpaceOnUse"
              width="12"
              height="12"
            >
              <circle
                cx="6"
                cy="6"
                r="3"
                style="stroke: currentcolor"
                fill="none"
              />
            </pattern>
          </defs>
          <rect
            width="22"
            height="22"
            data-pattern-shape=""
            fill="url(#pattern-18)"
          ></rect>
        </svg>
        <svg
          x-show="$store.nav.isOpen"
          x-collapse
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <nav
      class="container mt-8 flex flex-col gap-3 md:hidden ms-8"
      x-cloak
      x-show="$store.nav.isOpen"
      x-collapse
    >
      {% for item in navigation %}
        <a
          href="{{ item.route }}"
          class="{% if page.url == item.route %}font-black ring-teal-200{% else %}font-medium{% endif %}"
        >
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>
  </nav>
</header>
