<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Personal website of Dustin Younse">
  {% include 'scripts.njk' %}
  <link rel="me" href="https://hachyderm.io/@milsyobtaf" />
  {% if '/' === page.url %}
  <link rel="canonical" href="/about/"/>
  <meta http-equiv="refresh" content="0;url=/about/" />
  <title>Redirecting... | dustin.younse.com</title>
  {% else %}
  <title>{{ title }} | dustin.younse.com</title>
  {% endif %}
</head>

<body class="{% if env.devMode !== "production" %}debug-screens{% endif %}">
  {% include 'header.njk' %}
  {% block body %}
    {{ content | safe }}
  {% endblock %}
  {% include 'footer.njk' %}
</body>

</html>
