{
  "printWidth": 110,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html", "*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
