/* Custom Base Styles Go Here. */
html {
  @apply antialiased text-gray-800 font-sans;
}

/* This allows you to hide Alpine DOM until it's ready to go. */
[x-cloak] {
  @apply hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Milligram-Bold, serif;
}

@font-face {
  font-family: Milligram-Bold;
  src:
    /* local("Milligram-Bold"), */
    url("/assets/fonts/MilligramBold/font.woff2") format("woff2"),
    url("/assets/fonts/MilligramBold/font.woff") format("woff");
}

.font-mg-bold {
  font-family: Milligram-Bold, sans-serif;
}

@font-face {
  font-family: Milligram-HeavyItalic;
  src:
    /* local("Milligram-HeavyItalic"), */
    url("/assets/fonts/MilligramHeavyItalic/font.woff2") format("woff2"),
    url("/assets/fonts/MilligramHeavyItalic/font.woff") format("woff");
}

.font-mg-heavy-italic {
  font-family: Milligram-HeavyItalic, sans-serif;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --font-mg-bold: "Milligram-Bold", sans-serif;
  --font-mg-italic: "Milligram-HeavyItalic", sans-serif;
  --clouds-background: linear-gradient(to right, #ece9e6, #ffffff);
  --sunset-gradient-hdr: radial-gradient(
    farthest-corner circle at 50% 85% in oklch,
    oklch(95% 0.15 75) 0%,
    oklch(70% 0.25 35) 100%
  );
  --chlorophyll-gradient-hdr: conic-gradient(
    at top left in oklch,
    oklch(75% 0.5 156) 0%,
    oklch(70% 0.5 261) 100%
  );
  --rising-sun-gradient-hdr: conic-gradient(
    at bottom left in oklab,
    #fff 0%,
    2%,
    #f00 0%,
    8%,
    #fff 0%,
    13%,
    #f00 0%,
    18%,
    #fff 0%,
    21%,
    #f00 0%,
    24%,
    #fff 0%
  );
  --chevron-3-col: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pattern__svg' width='22' height='8' viewBox='0 0 22 8' data-pattern-svg=''%3E%3Cdefs%3E%3Cpattern id='pattern-40' patternUnits='userSpaceOnUse' width='8' height='8'%3E%3Cpath d='M7,-1 l2,2 M7,9 l2,-2' style='stroke: currentcolor' fill='none' /%3E%3Cpolyline points='0,0 4,4 0,8' style='stroke: currentcolor' fill='none' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='620' height='136' data-pattern-shape='' fill='url(%23pattern-40)'%3E%3C/rect%3E%3C/svg%3E%0A");
  --dot-4-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pattern__svg' width='22' height='36' viewBox='0 0 22 10' data-pattern-svg=''%3E%3Cdefs%3E%3Cpattern id='pattern-18' patternUnits='userSpaceOnUse' width='12' height='12'%3E%3Ccircle cx='6' cy='6' r='3' style='stroke: currentcolor' fill='none' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='22' height='154' data-pattern-shape='' fill='url(%23pattern-18)'%3E%3C/rect%3E%3C/svg%3E%0A");
  --polka-dot-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pattern__svg' width='12' height='12' viewBox='0 0 22 22' data-pattern-svg=''%3E%3Cdefs%3E%3Cpattern id='pattern-26' patternUnits='userSpaceOnUse' width='12' height='12'%3E%3Crect width='2' height='2' x='0' y='0' fill='currentcolor' style='fill: currentcolor' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='12' height='12' data-pattern-shape='' fill='url(%23pattern-26)'%3E%3C/rect%3E%3C/svg%3E%0A");
  --right-diagonal-stripe-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pattern__svg' width='6' height='6' viewBox='0 0 6 6' data-pattern-svg=''%3E%3Cdefs%3E%3Cpattern id='pattern-5' patternUnits='userSpaceOnUse' width='6' height='6'%3E%3Cpath d='M-1,1 l2,-2 M0,6 l6,-6 M5,7 l2,-2' stroke='currentcolor' style='stroke: currentcolor' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='6' height='6' data-pattern-shape='' fill='url(%23pattern-5)'%3E%3C/rect%3E%3C/svg%3E%0A");
  --grid-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pattern__svg' width='18' height='12' viewBox='0 0 18 12' data-pattern-svg=''%0A%3E%3Cdefs%3E%3Cpattern id='pattern-9' patternUnits='userSpaceOnUse' width='12' height='12'%3E%3Cpath d='M0,0 l12,12 M12,0 l-12,12' stroke='currentcolor' style='currentcolor' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='18' height='12' data-pattern-shape='' fill='url(%23pattern-9)' %3E%3C/rect%3E%3C/svg%3E");
  --icon-chevron-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M297.4 169.4C309.9 156.9 330.2 156.9 342.7 169.4L534.7 361.4C547.2 373.9 547.2 394.2 534.7 406.7C522.2 419.2 501.9 419.2 489.4 406.7L320 237.3L150.6 406.6C138.1 419.1 117.8 419.1 105.3 406.6C92.8 394.1 92.8 373.8 105.3 361.3L297.3 169.3z'/%3E%3C/svg%3E");
  --icon-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z'/%3E%3C/svg%3E");
}

body {
  background: #ece9e6;
  background: var(--clouds-background); /* Soft cloudy background gradient */
}

@view-transition {
  navigation: auto;
}
