/* Custom Utilities Go Here. */

.layout-masonry {
  @media (width >= theme(--breakpoint-xs)) {
    columns: 2 calc((var(--spacing) * 16) / 2);
    column-gap: calc((var(--spacing) * 4));
  }
  @media (width >= theme(--breakpoint-sm)) {
    columns: 3 calc((var(--spacing) * 16) / 3);
    column-gap: calc((var(--spacing) * 4));
  }
}
