// ------------------------------------------------------------ //
//
//  Style.sass
//
//  Created by: Dave Rupert
//  Contact:    http://github.com/davatron5000/foldy960
//  SASS version by: Elyse Holladay
//  Contact:    http://github.com/elyseholladay/foldy960
//
//  Copyright 2012
//  License:    WTFPL + "Not going to maintain this because
//              the rent is too damn high licence."

// -------------------------------------------------------------- //

// -------------------------------------------------------------- //
// Responsive Resets -------------------------------------------- //
// -------------------------------------------------------------- //

@-o-viewport {
  width: device-width;
}


@-ms-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}


html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

// -------------------------------------------------------------- //
// Grid > 6 Column Mobile First
// -------------------------------------------------------------- //
.container {
  //  The `max-width` property is the width governer. I dare you to experiment
  //  with setting this larger, something like 1280px.
  max-width: 1280px;
  width: 92%;
  margin: 0 auto;
  position: relative;
  .row {
    clear: both;
  }
}

// SIX COLUMN
@media screen and (min-width: 480px) {
  .container {
    width: 98%;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-half,
  .grid-full,
  .grid-unit {
    float: left;
    width: 96.9697%;
    margin: 0 1.51515% 1em;
  }
  .gallery .grid-unit,
  .grid-half {
    width: 46.9697%;
    margin: 0 1.51515% 1em;
  }
  .grid-flow-opposite {
    float: right;
  }
}

// ABOVE 640px
@media screen and (min-width: 640px) {
  // SIX COLUMN GRID
  .cols-6 {
    .grid-1 {
      width: 13.63636%;
    }
    .grid-2 {
      width: 30.30303%;
    }
    .grid-3,
    .grid-half {
      width: 46.9697%;
    }
    .grid-4 {
      width: 63.63636%;
    }
    .grid-5 {
      width: 80.30303%;
    }
    .grid-6,
    .grid-full {
      width: 96.9697%;
    }
    .gallery .grid-unit {
      width: 30.30303%;
    }
  }
  // TWELVE COLUMN
  .cols-12 {
    .grid-1 {
      width: 5.30303%;
      font-size: 0.8em;
    }
    .grid-2 {
      width: 13.63636%;
    }
    .grid-3 {
      width: 21.9697%;
    }
    .grid-4 {
      width: 30.30303%;
    }
    .grid-5 {
      width: 38.63636%;
    }
    .grid-6,
    .grid-half {
      width: 46.9697%;
    }
    .grid-7 {
      width: 55.30303%;
    }
    .grid-8 {
      width: 63.63636%;
    }
    .grid-9 {
      width: 71.9697%;
    }
    .grid-10 {
      width: 80.30303%;
    }
    .grid-11 {
      width: 88.63636%;
    }
    .grid-12,
    .grid-full {
      width: 96.9697%;
    }
    .gallery .grid-unit {
      width: 30.30303%;
    }
  }
}

// Use (or don't) as necessary.
.content-pad-right {
  padding-right: 4%;
}

.content-pad-left {
  padding-left: 4%;
}

// -------------------------------------------------------------- //
// Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- //

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  // For IE 6/7 (trigger hasLayout)
}

// -------------------------------------------------------------- //
// Helpers ------------------------------------------------------ //
// -------------------------------------------------------------- //

.show-grid div[class*='grid-'] {
  background-color: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  text-align: center;
}
