// Mixins

// End Mixins

// Extends

// Extend for removing the underline on links except in hover / focus states
.clean-links {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

// End Extends
