---
layout: base
title: Projects
description: 'Projects from throughout the years'
permalink: /projects/index.html
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl-2xl)">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

    {% svg "divider/edgy", null, "divider" %}
  </header>

  <div class="region flow prose" style="--region-space-top: var(--space-xl-2xl)">
    <p>
      Here you will find all of my digital and physical projects. They are sorted by the type of project.
      Within each individual project I've linked relevant blog posts that detail the work.
    </p>
  </div>
  {# prettier-ignore-start #}
  <custom-masonry layout="50-50">
    {% set itemList = collections.projects %}
    {% asyncEach item in itemList.slice(0, 4) %}
      {% set headingLevel = "h3" %}
      {% include "partials/card-project.njk" %}
    {% endeach %}
  </custom-masonry>
  {# prettier-ignore-end #}
</div>
