  <footer class="site-footer">
    <ul class="site-social">
      <li><a href="http://github.com/{{site.author.github}}"><i class="icon-github-circled"></i>GitHub</a></li>
      <li><a href="http://twitter.com/{{site.author.twitter}}"><i class="icon-twitter"></i>Twitter</a></li>
      <li><a href="http://facebook.com/{{site.author.facebook}}"><i class="icon-facebook"></i>Facebook</a></li>
      <li><a href="http://linkedin.com/in/{{site.author.linkedin}}"><i class="icon-linkedin"></i>LinkedIn</a></li>
    </ul>
    <p class="copyright">&copy; 2009 - {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
  </footer>

  <!-- Included JS Files (Uncompressed) -->

  <!-- Included JS Files (Compressed) -->


  <!-- Initialize JS Plugins -->

</body>
</html>
