---
title: Portfolio
---

{% extends 'layout.njk' %}
{% block body %}
  <main class="container py-6 prose">
    <h1>Experience</h1>
    <h2>Portfolio</h2>
    <p>
      I spent the past 7 years specializing in Design System work. I've
      architected a new system from the ground up and led the adoption of this
      system from zero to 99% of product surfaces. Additionally I was the
      engineering lead for documentation, building and maintaining our internal
      resources including a website and other self service support options.
    </p>
    <p>
      Unfortunately, all of my recent work is internal and non public, however I
      have curated a set of portfolio pieces, linked below. These are only
      snippets of much larger work, please reach out if you would like a deeper
      dive into any of this work.
    </p>
    <div x-data="{ open: true }" class="experience-portfolio-container">
      <div @click="open = !open" class="experience-portfolio-header">
        <h3
          class="accordion-icon"
          :class="open ? 'fa-chevron-up' : 'fa-chevron-down'"
        >
          Motion Documentation
        </h3>
      </div>
      <div x-show="open" class="container experience-portfolio-item">
        <p>
          It's difficult to document motion guidelines without actually seeing
          the motion. One of the original design decisions we made with our
          design system documentation was using our actual components and tokens
          to build the website. That made it substantially easier to document
          motion examples with perfect accuracy. Our customers knew what they
          were seeing was what they would get. We also went above and beyond the
          basic accessibility recommendation of
          <span class="font-mono">prefers-reduced-motion</span> and created
          animation that required the affirmative action of clicking on the
          element to start the animation, ensuring accessibility, reduced system
          resource usage, and a generally less annoying documentation page.
        </p>
        <a
          href="https://gist.github.com/milsyobtaf/a3ccec1277a80918dd310b382b8c1df1"
        >
          Motion documentation example
        </a>
      </div>
    </div>
    <div x-data="{ open: false }" class="experience-portfolio-container">
      <div @click="open = !open" class="experience-portfolio-header">
        <h3
          class="accordion-icon"
          :class="open ? 'fa-chevron-up' : 'fa-chevron-down'"
        >
          Token Documentation
        </h3>
      </div>
      <div x-show="open" class="container experience-portfolio-item">
        <p>
          Tokens are possibly the most important artifact of a design system.
          With a single source of truth for you design decisions, the team can
          recreate anything else they need. Documenting tokens can be tricky -
          you usually have at least a few dozen, if not more - this system had
          307, after reducing duplicates and unnecessary tokens! We decided to
          take the usual table based approach, but enhanced it with multiple
          filtering options, and leveraged our site wide usage of tokens to
          display actual rendered token values for the user. Additionally we
          customized our usage of
          <span class="font-mono">style-dictionary</span> to add useful metadata
          directly to the token output for documentation purposes. This provided
          not only assurance to our users that what they saw was what they would
          get, but also cut down on the manual labor of creating images and
          making manual updates when token names and token values changed, or
          when we inevitably added new tokens.
        </p>
        <a
          href="https://gist.github.com/milsyobtaf/dce06de5e5447d30c1817374d34dd975"
        >
          Token documentation example
        </a>
      </div>
    </div>
    <div x-data="{ open: false }" class="experience-portfolio-container">
      <div @click="open = !open" class="experience-portfolio-header">
        <h3
          class="accordion-icon"
          :class="open ? 'fa-chevron-up' : 'fa-chevron-down'"
        >
          This website!
        </h3>
      </div>
      <div x-show="open" class="container experience-portfolio-item">
        <p>
          I've been building this website using a lightweight and flexible
          psuedo-framework called
          <a href="https://github.com/mattwaler/tea-stack">tea-stack</a> that
          connects <a href="https://www.11ty.dev/">Eleventy</a>,
          <a href="https://tailwindcss.com/">Tailwind</a>, and
          <a href="https://alpinejs.dev/">Alpine</a> into an easy to use stack
          that is great for everything from personal websites to prototyping.
          Eleventy gives you the ability to source data from a number of places,
          and access all of it using any number of flexible templating
          languages, and Tailwind and Alpine combine to give you quick styling
          and just enough javascript to progressively enhance interactions and
          small pops of animated delight.
        </p>
        <a href="https://github.com/milsyobtaf/dustin.younse.com">
          Source on GitHub
        </a>
      </div>
    </div>
  </main>
{% endblock %}
