{% set pageTitle = "Resume" %}
{% extends "layout.njk" %}

{% block body %}
  <main class="container prose py-16">
    <h1>Resume</h1>
    <section class="contact">
        <header class="sr-only"><h2 class="my-4">Contact</h2></header>
        <div class="flex justify-between">
            <div class="">
                <h3 class="m-0">Dustin Younse</h3>
                <p class="m-0">Austin, TX</p>
            </div>
            <ul class="flex-col list-none p-0">
                {% for item in contact %}
                <li class="p-0 m-0"><a href="{{ item.link }}">{{ item.type }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="recent_experience">
        <header><h2 class="my-4">Recent Experience</h2></header>
            {% for experience in collections.experience | reverse %}
            {% if (loop.index <= 2) %}
                <div class="mb-6">
                <div class="flex justify-between">
                <span>
                    <h3 class="font-bold m-0">{{ experience.data.title }}</h3>
                    {% if experience.data.organization %}
                    <span>{{ experience.data.organization }}</span>
                    {% endif %}
                </span>
                <span class="grid text-right">
                    <span class="self-start font-bold">{{ experience.data.tenure }}</span>
                    {% if experience.data.team %}
                    <span class="italic">{{ experience.data.team }}</span>
                    {% endif %}
                </span>
                </div>
                <hr class="my-2"/>
                <ul class="pl-0 leading-5 list-none">
                {% for item in experience.data.description %}
                    <li class="pl-0">{{ item }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
    </section>
    <section class="presentations">
        <header><h2 class="my-4">Presentations</h2></header>
            {% for talk in collections.talks %}
            <ul class="list-none p-0 pb-4">
                <li class="p-0 m-0 leading-5"><a class="font-bold" href={{ talk.data.slides_url }}>{{ talk.data.title }}</a></li>
                <li class="p-0 m-0 leading-5 italic">{{talk.data.conference}} {{talk.data.year}}</li>
            </ul>
            {% endfor %}
    </section>
    <section class="education">
        <header><h2 class="my-4">Education</h2></header>
        {% for degree in collections.degrees | reverse %}
        <ul class="list-none p-0 pb-4">
            <li class="p-0 m-0 leading-5 font-bold text-gray-900">{{ degree.data.degree }}, {{ degree.data.graduation }}</li>
            {% if degree.data.focus %}
            <li class="p-0 m-0 leading-5 italic">{{degree.data.focus}}</li>
            {% endif %}
            <li class="p-0 m-0 leading-5">{{ degree.data.school }}</li>
        </ul>
        {% endfor %}
    </section>

    <section class="skills">
        <header><h2 class="my-4">Skills</h2></header>
        <ul>
            {% for item in skills.items %}
            <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="previous_experience">
    <header><h2 class="my-4">Previous Experience</h2></header>
        {% for experience in collections.experience | reverse %}
        {% if (loop.index > 2) %}
            <div class="mb-6">
                <div class="flex justify-between">
                <span>
                    <h3 class="font-bold m-0">{{ experience.data.title }}</h3>
                    {% if experience.data.organization %}
                    <span>{{ experience.data.organization }}</span>
                    {% endif %}
                </span>
                <span class="grid text-right">
                    <span class="self-start font-bold">{{ experience.data.tenure }}</span>
                    {% if experience.data.team %}
                    <span class="italic">{{ experience.data.team }}</span>
                    {% endif %}
                </span>
                </div>
                <hr class="my-2"/>
                <ul class="pl-0 leading-5 list-none">
                {% for item in experience.data.description %}
                    <li class="pl-0">{{ item }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endfor %}
    </section>
  </main>
{% endblock %}
