---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ meta.creator.name }}
Site: {{ meta.creator.website }}
Find me on: {{ meta.creator.social }}
/* SITE */
Doctype: HTML5
